.country-details-container {
  display: flex;
  flex-direction: column;
}

.back-button {
  // padding: 6px 24px;
  // border: 1px solid black;
  // border-radius: 4px;
  // cursor: pointer;
}

.country-details {
  flex-grow: 1;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.country-details img {
  // width: 40%;
}

.details-text {
  display: grid;
    grid-auto-flow: row;
    /* Заполнять по строкам */
    grid-auto-rows: auto;
    /* Высота строки */
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Автоматическое добавление колонок */
    gap: 10px;
    max-height: 200px;
    /* Расстояние между элементами */
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // display: flex;
  // flex-direction: column;
  // row-gap: 12px;
  // column-gap: 24px;
  // max-height: 180px;
  // flex-wrap: wrap;
}

.border-countries {
  margin-top: 48px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

.border-countries a {
  padding: 4px 16px;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 14px;
}

@media(max-width: 940px) {
  .country-details {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
    gap: 16px;
  }

  .details-text {
    max-height: unset;
  }

  .country-details img {
    width: 100%;
    max-width: 400px;
  }

}