.root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(124px, auto));
  grid-auto-rows: minmax(124px, auto);
  gap: 20px;
  flex-grow: 1;
  padding-block: 15px;
  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}