.root {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.top {
  display: grid;
  grid-template-columns: 1fr minmax(220px, 280px);
  grid-template-rows: minmax(62px, auto);
  align-items: center;
  gap: 10px;
  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}